<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="" 相当于ID 使用接口的全类名 使用接口示编程 -->
<mapper namespace="cn.mybatis.dao.UsersMapper">
	<select id="getAll" resultType="Users">
		select * from users
	</select>
	
	<select id="getById"  resultType="Users">
		select * from users where id = #{id}
	</select>

<!-- 返回自增id的值 useGeneratedKeys="true" keyProperty="id" 赋值给ID属性 -->
	<insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">
		insert into users values(#{name},#{age},#{address},#{province})
	</insert>
	
	<insert id="updateUsers">
		update users set name=#{name},address=#{address} where id=#{id}
	</insert>
	
	<insert id="deleteUsers">
		delete from users where id=#{id}
	</insert>
	
</mapper>